#verstaImg {
    height: 25px
}
#logoDiv {
    display: inline-block
}
#switchDiv {
    display: inline-block;
    margin-left: 5px
}
#root{
    margin: 10px
}

.firstButton, .secondButton{
    display: inline-block;
}

.secondButton{
    margin-left: 10px
}

#formContainer{
    text-align: left
}

#newOrderForm{
    max-width: 400px;    
}